@model QuoraForPucit.Models.ViewModel.UserViewModel;
@{
    ViewData["Title"] = "EditProfile";
    User u = (User)ViewData["User"];
}
@section links{
    <link rel="stylesheet" href="@Url.Content("~/css/editprofile.css?version=1")">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
}
<div class="container">
        <div class="container-header">
            <h1>Edit Your Profile</h1>
        </div>
        <div class="container-body">
            <form asp-action="EditProfile" method="post" enctype="multipart/form-data">
                <div class="personalinfo">
                    <fieldset class="border border-dark p-3">
                        <legend class="float-none w-auto">Personal Info</legend>
                        <div class="mb-3">
                            @if(@u.ProfilePicture==null)
                        {
                         <img src="../images/login.png" alt="current image">   
                        }
                        else
                        {
                            <img src="../@u.ProfilePicture" alt="currentimage">
                        }
                        <br>
                            <input asp-for="ProfilePicture" type="file" class="form-control-file mt-3" accept="image/*" id="exampleFormControlFile1">
                        </div>
                        <div class="mb-3 simpleinfo">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" asp-for="Name" class="form-control"id="name" value="@u.Name">
                        </div>
                        <div class="mb-3 simpleinfo">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" asp-for="Age" class="form-control" id="age" value="@u.Age">
                        </div>
                        <div class="mb-3">
                            <label for="summernote" class="form-label">About me</label>
                            <textarea asp-for="About" class="form-control" id="summernote"></textarea>
                        </div>
                        <input asp-for="Id" value="@u.Id" style="display:none"/>
                        <input asp-for="Username" value="@u.Username" style="display:none" />
                    </fieldset>
                </div>
                <div class="account-info mt-3">
                    <fieldset class="border border-dark p-3">
                        <legend class="float-none w-auto">Account Info</legend>
                        <div class="mb-3 simpleinfo">
                            <label class="form-label">Enter Your Current Email</label>
                            <input type="email" class="form-control" id="prevemail">
                        </div>
                        <div class="mb-3 simpleinfo">
                            <label for="prevpwd" class="form-label">Enter Your Current Password</label>
                            <input type="password" class="form-control"  id="prevpwd">
                            <button type="button" class="btn btn-success mt-3 checkcred">Update Credentials</button>
                        </div>
                        <div class="wrongcredsmessage" style="display:none">
                            <p style="color:red">Your credentials do not match</p>
                        </div>
                        
                        <div class="mb-3 simpleinfo">
                            <label for="newemail" class="form-label">Enter new Email</label>
                            <input asp-for="Username" type="email" class="form-control" id="newemail" disabled>
                        </div>
                        <div class="mb-3 simpleinfo">
                            <label for="newpwd" class="form-label">Enter New Password</label>
                            <br>
                            <input asp-for="Password" type="password" style="display:inline" class="form-control" id="newpwd" disabled>
                            <i class="far fa-eye ml-2" id="togglePassword" style="display:inline cursor: pointer;"></i>
                        </div>
                    </fieldset>
                </div>

                <div class=" links-info mt-3 mb-3">
                    <fieldset class="border border-dark p-3">
                        <legend class=" float-none w-auto">Links</legend>
                        <div class="links">
                            <div class="input-group simpleinfo1">
                                <label for="twitter" class="form-label">Twitter</label>
                                <div class="link-text">
                                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-twitter"></i></span>
                                    <input type="url" asp-for="Twitter" class="form-control" id="twitter" value="@u.Twitter">
                                </div>
                            </div>
                            <div class="input-group simpleinfo1">
                                <label for="website" class="form-label">Website</label>
                                <div class="link-text">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-link"></i></span>
                                    <input type="url" asp-for="Website" class="form-control" id="website" value="@u.Website">
                                </div>
                            </div>
                            <div class="input-group simpleinfo1">
                                <label for="github" class="form-label">Github</label>
                                <div class="link-text">
                                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-github"></i></span>
                                    <input type="url" class="form-control" asp-for="Github" id="github" value="@u.Github">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-success submit-btn" value="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <script>
$('#summernote').summernote({
    placeholder: 'Tell us about Yourself',
    height: '30vh',
    toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture']],
        ['view', ['codeview', 'help']]
    ]
});
$('.checkcred').click(function() {
    var data1 = new FormData();
    data1.append("id", @u.Id);
    var prevemail = $('#prevemail').val();
    var prevpassword=$('#prevpwd').val();
    data1.append("email",prevemail);
    data1.append("pwd", prevpassword);
    console.log("hello");
    $.ajax({
        method: "post", url: "/Profile/CheckPrevCreds", contentType: false, processData: false, data: data1,
        success: function(x) {
            if (x=="success") {
                $('#newemail').prop("disabled", false);
                $('#prevemail').prop("disabled", true);
                $('#newpwd').prop("disabled", false);
                $('#prevpwd').prop("disabled", true);
                $('.wrongcredsmessage').hide();
            }
            else
            {
                $(".wrongcredsmessage").show();
            }
        },
        error: function(x) { }
    });
});
$('#togglePassword').click(function() {
    var currentype= $('#newpwd').attr('type')
    if (currentype=='password') {
        $('#newpwd').attr('type', 'text');
    }
    else {
        $('#newpwd').attr('type', 'password');
    }
});
</script>