@section links{
    <link rel="stylesheet" href="@Url.Content("~/css/profile.css?version=3")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
}
    @{
    ViewData["Title"] = "Profile";
    User u = (User)ViewData["User"];
    List<Question> qs = (List<Question>)ViewData["Questions"];
    }
    <div class="container">
        <div class="profile-header">
            <div class="profile-background">
                <button><a  asp-route="editprofile" style="text-decoration:none;color:white;">Edit Profile</a></button>
            </div>
            <div class="profile-info">
                <div class="profile-cover__img">
                        @if(@u.ProfilePicture==null)
                        {
                         <img src="../images/login.png" alt="current image">   
                        }
                        else
                        {
                            <img src="../@u.ProfilePicture" alt="currentimage">
                        }
                    <h3 class="text-center">@u.Name</h3>
                </div>
                <div class="profile-cover__info">
                    <ul class="nav">
@*                        <li><strong>33</strong>Followers</li>
                        <li><strong>136</strong>Following</li>*@
                        <li><strong>@ViewBag.QuestionCount</strong>Questions</li>
                        <li><strong>@ViewBag.AnswerCount</strong>Answers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="about-header">
                <h1>About me</h1>
            </div>
            <div class="about-content" id="about">
                <p>
                    @if(@u.About==null)
                    {
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non tellus orci ac auctor augue.
                            Et netus et malesuada fames ac turpis egestas sed tempus.
                            Nunc consequat interdum varius sit amet mattis.
                            Rhoncus dolor purus non enim praesent elementum. Aliquet eget sit amet tellus cras adipiscing
                        </p>
                    }
                    else
                    {
                    @u.About
                    }
                </p>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h1>Activity feed</h1>
            </div>
            <div class="panel-content">
            @if (@qs.Count != 0)
            {
                <ul class="panel-content-list">
                    @for(int i=0;i<qs.Count;i++)
                    {
                        @if(i==3)
                        {
                            break;
                        }
                        <li>
                        <div class="activity__list__header">
                        @if(@u.ProfilePicture==null)
                        {
                         <img src="../images/login.png" alt="current image"  id="profileimg"/>   
                        }
                        else
                        {
                          <img src="../@u.ProfilePicture" alt="currentimage" id="profileimg">
                        }
                             
                        <p style="display:inline;font-weight:bolder">@qs[i].QuestionaireName</p> Posted the question:
                        <a asp-controller="Answer" asp-action="GiveAnswer" asp-route-id="@qs[i].Id" asp-route-wese="">@qs[i].Title</a>
                        </div>
                        <div class="activity__list__body entry-content" style="max-width:100%">
                            <p style="width:100%" class="descclass">
                                @*@qs[0].Description.Substring(0,100)*@
                                @qs[i].Description
                            </p>
                        </div> 
                        <div class="activity__list__footer">
                            <a href="#"> <i class="fa fa-thumbs-up"></i> @qs[i].Upvote</a>
                            <span> <i class="fa fa-clock"></i> @qs[i].Time</span>
                        </div>
                        <hr />
                    </li>
                    }
                </ul>
            }
            else
            {
                <h1 class="noactivity">No Recent Activity</h1>
            }
        </div>
        </div>
    </div>
    <script>
function printabout() {
    var desc = document.getElementById("about");
    var html = desc.innerText;
    desc.innerHTML = html; //p
}
function printdescclass() {
    var desc1=document.getElementsByClassName("descclass")
    for (let i = 0; i < desc1.length; i++) {
        var html = desc1[i].innerText;
        desc1[i].innerHTML = html;
    }
}
printabout();   
printdescclass();
</script>